@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

section {
    font-family: 'Roboto';
    display: flex;
    width: 100vw;
    height: 67px;
    align-items: center;
    justify-content: center;
    background-color: #C3CFD9;
}

section h1 {
    color: #E8833A;
    font-size: 34px;
    font-weight: 400;
    text-align: center;
}